@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #131313;
  /* display: flex;
  min-height: 100vh;
  width: 100vw; */
  /* overflow: hidden; */
}

a {
  text-decoration: none;
  color: white;
}

li a {
  text-decoration: none;
  color: rgb(110, 90, 110);
}

.active,
.links,
li:hover {
  background-color: #ff8177;
  background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  color: rgb(145, 86, 145);
  transition: ease-in 200ms;
  transform: scale(1.3);
}

.pizza a:hover {
  color: purple;
  transition: ease-in 200ms;
}

.container {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  height: 100%;
  background-color: #1b1b1b;
  width: 130px;
}

.logo {
  position: absolute;
  top: 20px;
  background-color: #ff8177;
  background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-decoration: none;
  font-size: 5rem;
  color: white;
}

.logo:hover {
  transition: ease-in 200ms;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.menu {
  position: relative;
  top: 160px;
  height: 70%;
  width: 100%;
  padding-top: 10px;
  list-style-type: none;
  overflow-y: auto;
  box-shadow: inset 0px 20px 8px -10px #272727,
    inset 0px -20px 8px -10px #272727;
}

.menu::-webkit-scrollbar {
  display: none;
}

li {
  display: flex;
  justify-content: center;
  padding: 20px 40px 50px 40px;
  box-sizing: border-box;
  font-size: 3rem;
}

.pizza {
  position: absolute;
  bottom: 50px;
  font-size: 3rem;
  color: white;
}

.projects-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50px;
  width: 85%;
  height: 100%;
}

.projects-title {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  background-color: #ff8177;
  background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 2.5rem;
  top: 0px;
}

.projects-cards {
  position: relative;
  width: 80%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  margin-top: 200px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
  transition: 0.3s ease-in;
  width: 230px;
  height: 300px;
  border-radius: 8px;
  margin-bottom: 50px;
  color: white;
}

.card:hover {
  opacity: 0.7;
  transform: scale(1.075);
  transition: 0.1s ease-in;
  cursor: pointer;
}

.card h2 {
  text-align: center;
}

.card p {
  text-align: center;
  margin-top: 24px;
  font-size: 15px;
}

.card-icon-banner {
  display: block;
  background-color: #313131;
  margin-top: 30px;
  width: 100%;
  height: 160px;
}

.card-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
  color: rgb(145, 86, 145);
}

.footer-container {
  position: fixed;
  bottom: 0;

  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  color: white;
}

.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 78vw;
  height: 50px;
}

.link a {
  display: flex;
  color: white;
}

.link a:hover {
  color: purple;
}

.date {
  display: flex;
}

/* -- Mobile -- */

@media screen and (max-width: 960px) {
  .projects-title {
    top: 150px;
  }

  .navbar {
    position: fixed;
    bottom: 0;
    height: 80px;
    background-color: #1b1b1b;
    width: 100vw;
  }

  .logo {
    display: none;
  }

  .pizza {
    display: none;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    overflow-y: auto;
  }

  .footer {
    display: none;
  }
}
