@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

:root {
  --white: #e8e9ed;
  --gray: #434257;
  --blue: #18172c7a;
  --green: #00d084;
  --pink: #ff4b77;
}

li {
  list-style: none;
  margin: 0;
}

body {
  background-color: #333;
  margin: 0;
  color: white;
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  font-family: Roboto;
}

.container {
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
  background-color: #006699;
  padding: 3rem;
  border-radius: 1rem;
  border: 2px solid black;
  width: 400px;
  height: auto;
  top: 300px;
}

.payload-options {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.switches {
  max-width: 500px;
  width: 100%;
  margin: auto;
  border-radius: 5px;
  color: var(--white);
  background: var(--blue);
}

.switches label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.switches span:last-child {
  position: relative;
  width: 50px;
  height: 26px;
  border-radius: 15px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
  background: var(--gray);
  transition: all 0.3s;
  cursor: pointer;
}

.switches span:last-child::before,
.switches span:last-child::after {
  content: "";
  position: absolute;
}

.switches span:last-child::before {
  left: 1px;
  top: 1px;
  width: 24px;
  height: 24px;
  background: var(--white);
  border-radius: 50%;
  z-index: 1;
  transition: transform 0.3s;
}

.switches span:last-child::after {
  top: 50%;
  right: 8px;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/uncheck-switcher.svg);
  background-size: 12px 12px;
}

.switches [type="checkbox"]:checked + label span:last-child {
  background: var(--green);
}

.switches [type="checkbox"]:checked + label span:last-child::before {
  transform: translateX(24px);
}

.switches [type="checkbox"]:checked + label span:last-child::after {
  width: 14px;
  height: 14px;
  /*right: auto;*/
  left: 8px;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/checkmark-switcher.svg);
  background-size: 14px 14px;
}

.options {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 1rem;
  column-gap: 3rem;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  text-align: center;
}

label {
  font-weight: bold;
}

[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.target-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  margin: 40px 0px 40px 0px;
  padding: 0.5rem;
  border: 1px solid #333;
  height: 2rem;
  width: 400px;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.btn {
  grid-column: span 2;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem;
  margin-top: 2rem;
  width: 420px;
}

.btn:hover {
  background-color: #ffffff33;
}

.results-box {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

  margin-top: 40px;
}

.pass {
  font-size: 3rem;
  color: green;
}

.fail {
  font-size: 3rem;
  color: red;
}

.results {
  font-size: 1rem;
  margin-left: 10px;
}
