@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

:root {
  --background: #333;
  --white: #e8e9ed;
  --gray: #434257;
  --blue: #18172c7a;
  --green: #00d084;
  --pink: #ff4b77;
  --charcoal: rgb(36, 36, 36);
}

li {
  list-style: none;
  margin: 0;
}

body {
  background-color: #333;
  margin: 0;
  padding: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  font-family: Roboto;
}

.container {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  top: 80px;
  height: 600px;
  width: 100%;
}

.tester {
  background-color: #006699;
  padding: 2rem;
  border-radius: 1rem 0rem 0rem 1rem;
  border: 2px solid black;
  width: 540px;
  height: 760px;
  box-sizing: border-box;
}

.title {
  position: relative;
  margin: 0;
  text-align: center;
}

.target-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 500px;
  width: 100%;
  margin: 40px 0px 40px 0px;
}

.target-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  border-radius: 5px 0px 0px 5px;
  color: white;
  height: 3rem;
  width: 60px;
  font-size: 2rem;
}

.target-box {
  background-color: white;
  color: black;
  padding: 0.5rem;
  border: 1px solid #333;
  height: 2rem;
  width: 100%;
  border-radius: 0px 5px 5px 0px;
  font-size: 1rem;
}

.payload-options {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.switches {
  max-width: 500px;
  width: 100%;
  margin: 20px 0 30px 0;
  border-radius: 5px;
  color: var(--white);
  background: var(--blue);
}

.switches label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.switches span:last-child {
  position: relative;
  width: 50px;
  height: 26px;
  border-radius: 15px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
  background: var(--gray);
  transition: all 0.3s;
  cursor: pointer;
}

.switches span:last-child::before,
.switches span:last-child::after {
  content: "";
  position: absolute;
}

.switches span:last-child::before {
  left: 1px;
  top: 1px;
  width: 24px;
  height: 24px;
  background: var(--white);
  border-radius: 50%;
  z-index: 1;
  transition: transform 0.3s;
}

.switches span:last-child::after {
  top: 50%;
  right: 8px;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/uncheck-switcher.svg);
  background-size: 12px 12px;
}

.switches [type="checkbox"]:checked + label span:last-child {
  background: var(--green);
}

.switches [type="checkbox"]:checked + label span:last-child::before {
  transform: translateX(24px);
}

.switches [type="checkbox"]:checked + label span:last-child::after {
  width: 14px;
  height: 14px;
  /*right: auto;*/
  left: 8px;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/checkmark-switcher.svg);
  background-size: 14px 14px;
}

.payload-description {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.payload {
  display: flex;
  flex-direction: column;
  width: 30%;
}

label {
  font-weight: bold;
}

[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.custom-payload {
  position: relative;
  margin-right: 0px;
  left: -100px;
  width: 220px;
  font-size: 1.2rem;
}

.proxy-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}

.proxy-title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.proxy-link {
  background-color: white;
  color: black;
  padding: 0.5rem;
  border: 1px solid #333;
  height: 2rem;
  width: 100%;
  border-radius: 0px 5px 5px 0px;
  font-size: 1rem;
}

.btn {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem;
  margin-top: 10px;
  width: 100%;
}

.btn:hover {
  background-color: #ffffff33;
}

.results-box {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 20px;
  box-sizing: border-box;
}

.pass {
  display: none;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-items: center;
  font-weight: 700;
  font-size: 3rem;
  color: green;
}

.pass-text {
  margin-left: 15px;
  font-size: 2rem;
  font-style: normal;
  color: green;
}

.fail {
  display: none;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-items: center;
  font-weight: 700;
  font-size: 3rem;
  color: red;
}

.fail-text {
  margin-left: 15px;
  font-size: 2rem;
  color: red;
}

.testing {
  display: block;
}

.spinner {
  font-size: 3rem;
  color: rgb(78, 46, 46);
  font-weight: 700;
  -webkit-animation: spinner 1.5s linear infinite; /* Safari */
  animation: spinner 0.3s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.results {
  font-size: 1rem;
  margin-left: 10px;
}

.results-title {
  position: relative;
  top: 5px;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.proof {
  background-color: #006699;
  box-sizing: border-box;
  padding: 0.5rem;
  border-radius: 0rem 1rem 1rem 0rem;
  border: 2px solid black;
  width: 540px;
  height: 760px;
}

.output-field {
  position: relative;
  background: var(--charcoal);
  top: 0px;
  width: 100%;
  height: 85%;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  padding: 1rem;
  margin-bottom: 20px;
  font-size: 14px;
  box-sizing: border-box;
  font-family: sans-serif;
  overflow-wrap: break-word;
  overflow: auto;
}

.download-print-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.proof-btn {
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0.5rem;
  width: 100px;
  cursor: pointer;
}

.proof-btn:hover {
  background: var(--background);
  color: white;
}

/* Portrait and Landscape */
@media only screen and (min-device-width: 390px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    top: 0px;
    height: 100%;
    width: 100vw;
  }

  .tester {
    width: 540px;
    height: 800px;
    box-sizing: border-box;
  }

  .output-field {
    position: relative;
    background: var(--charcoal);
    top: 0px;
    width: 390px;
    height: 85%;
  }

  .custom-payload {
    position: relative;
    margin-right: 0px;
    left: -90px;
    width: 160px;
    font-size: 1.2rem;
  }
}
