<div class="projects-title">API's with Javascript</div>
<div class="projects-cards">
    <a href="https://nodisassemble.github.io/moviepicker/" target="_blank">
        <div class="card">
            <h2>Movie Picker</h2>
            <p>HTML | JS | CSS</p>
            <div class="card-icon-banner">
                <div class="card-icon"><i class="fas fa-film fa-5x"></i></div>
            </div>
        </div>
    </a>
    <a href="https://github.com/NoDisassemble/javascript/tree/main/cooking/foodrecipe" target="_blank">
        <div class="card">
            <h2>Food Recipe App</h2>
            <p>HTML | JS | CSS</p>
            <div class="card-icon-banner">
                <div class="card-icon"><i class="fas fa-hamburger fa-5x"></i></div>
            </div>
        </div>
    </a>
    <a href="https://nodisassemble.github.io/javascript/weather/jsweatherapp/" target="_blank">
        <div class="card">
            <h2>Weather App</h2>
            <p>HTML | JS | CSS</p>
            <div class="card-icon-banner">
                <div class="card-icon"><i class="fas fa-cloud-sun fa-5x"></i></div>
            </div>
        </div>
    </a>
</div>