<div class="projects-title">Games with Javascript</div>

<div class="projects-cards">
    <a href="https://nodisassemble.github.io/javascript/games/dodgeball/" target="_blank">
        <div class="card">
            <h2>Dodge Ball</h2>
            <p>HTML | JS | CSS</p>
            <div class="card-icon-banner">
                <div class="card-icon"><i class="fas fa-gamepad fa-5x"></i></div>
            </div>
        </div>
    </a>
    <a href="https://nodisassemble.github.io/javascript/games/dinojump/" target="_blank">
        <div class="card">
            <h2>Dino Jump</h2>
            <p>HTML | JS | CSS</p>
            <div class="card-icon-banner">
                <div class="card-icon"><i class="fas fa-gamepad fa-5x"></i></div>
            </div>
        </div>
    </a>
</div>