<div class="projects-title">Hacking with Javascript</div>
<div class="projects-cards">
  <a href="https://nodisassemble.github.io/javascript/hacking/sqltester/" target="_blank">
    <div class="card">
      <h2>SQL Injection Test</h2>
      <p>Work In Progress</p>
      <div class="card-icon-banner">
        <div class="card-icon"><i class="fas fa-bug fa-5x"></i></div>
      </div>
    </div>
  </a>
  <a href="https://nodisassemble.github.io/javascript/generators/jspwgen/" target="_blank">
    <div class="card">
      <h2>PW Gen</h2>
      <p>HTML | JS | CSS</p>
      <div class="card-icon-banner">
        <div class="card-icon"><i class="fas fa-lock fa-5x"></i></div>
      </div>
    </div>
  </a>
  <a href="https://nodisassemble.github.io/javascript/encodedecode/base64" target="_blank">
    <div class="card">
      <h2>Base64</h2>
      <p>HTML | JS | CSS</p>
      <div class="card-icon-banner">
        <div class="card-icon"><i class="fas fa-eye-slash fa-5x"></i></div>
      </div>
    </div>
  </a>
  <a href="https://nodisassemble.github.io/javascript/encodedecode/rot13" target="_blank">
    <div class="card">
      <h2>R0t13</h2>
      <p>HTML | JS | CSS</p>
      <div class="card-icon-banner">
        <div class="card-icon"><i class="fas fa-eye-slash fa-5x"></i></div>
      </div>
    </div>
  </a>
</div>