<div class="projects-title">Notes with Javascript</div>
<div class="projects-cards">
    <a href="https://nodisassemble.github.io/javascript/lists/todolist" target="_blank">
        <div class="card">
            <h2>To Do List</h2>
            <p>HTML | JS | CSS</p>
            <div class="card-icon-banner">
                <div class="card-icon"><i class="fas fa-clipboard-list fa-5x"></i></div>
            </div>
        </div>
    </a>
    </a>
    <a href="https://nodisassemble.github.io/javascript/lists/notes" target="_blank">
        <div class="card">
            <h2>JS Notes</h2>
            <p>HTML | JS | CSS</p>
            <div class="card-icon-banner">
                <div class="card-icon"><i class="fab fa-evernote fa-5x"></i></div>
            </div>
        </div>
    </a>
    <a href="https://nodisassemble.github.io/javascript/lists/stickynotes" target="_blank">
        <div class="card">
            <h2>JS Sticky Notes</h2>
            <p>HTML | JS | CSS</p>
            <div class="card-icon-banner">
                <div class="card-icon"><i class="fas fa-sticky-note fa-5x"></i></div>
            </div>
        </div>
    </a>
</div>