* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 100px;
  width: 100%;
  height: 100%;
}

#score {
  text-align: center;
  margin-left: 10px;
}

#game {
  width: 1000px;
  height: 500px;
  border: 2px solid black;
  margin: auto;
  background-image: url("../assets/background.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

#dino {
  height: 175px;
  width: 300px;
  position: relative;
  top: 280px;
  background-image: url("../assets/dino.png");
  background-size: cover;
}

#rock {
  height: 80px;
  width: 80px;
  position: relative;
  top: 198px;
  background-image: url("../assets/rock.png");
  background-size: cover;
  left: 920px;
  animation: linear rock 1.5s infinite;
}

@keyframes rock {
  0% {
    left: 920px;
  }
  100% {
    left: -100px;
    transform: rotate(-360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.jump-animation {
  animation: jump 0.5s;
}

@keyframes jump {
  0% {
    top: 280px;
  }
  50% {
    top: 120px;
  }
  75% {
    top: 120px;
  }
  100% {
    top: 280px;
  }
}

.score-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-top: 10px;
}

.score-inner {
  display: flex;
  justify-content: center;
  width: 20%;
  background: red;
  background: rgb(0, 0, 0);
  border-radius: 10px;
  color: white;
}
